# API服务配置
api_server:
  host: "0.0.0.0"
  port: 5555
  base_url: "http://localhost:5555"
  debug: false # 默认关闭debug模式

# TTS平台配置
platforms:
  # 海豚Ai配音，地址：https://www.ttson.cn/
  ttson:
    base_url: "https://u95167-bd74-2aef8085.westx.seetacloud.com:8443"
    token: "your_token_here"  # 在实际配置文件中替换为你的token
    network_proxies:
      http: null
      https: null

  # TTS-Online配置
  acgn_ttson:
    base_url: "https://u95167-bd74-2aef8085.westx.seetacloud.com:8443"
    token: "your_token_here"  # 在实际配置文件中替换为你的token
    network_proxies:
      http: null
      https: null

  # Fish Audio配置
  fish_audio:
    base_url: "https://api.fish.audio"
    token: "your_token_here"  # 在实际配置文件中替换为你的token
    network_proxies:
      http: "http://127.0.0.1:7890"
      https: "http://127.0.0.1:7890" 